<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Advanced Drop-down Menu | CodingNepal</title>
  <link rel="stylesheet" href="PorIdioma.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
</head>

<body>
  <nav>
    <div class="drop-btn">
      Drop down <span class="fas fa-caret-down" aria-hidden="true"></span>
    </div>
    <div class="wrapper show">
      <ul class="menu-bar">
        <li><a href="#">
            <div class="icon">
              <span class="fas fa-home" aria-hidden="true"></span></div>
            Home
          </a></li>


        <li><a href="#">
            <div class="icon">
              <span class="fas fa-user" aria-hidden="true"></span></div>
            About us
          </a></li>
        <li><a href="#">
            <div class="icon">
              <span class="fas fa-comment-alt" aria-hidden="true"></span></div>
            Feedback
          </a></li>
      </ul>
      <!-- Settings & privacy Menu-items -->
      <ul class="setting-drop">

        <li><a href="#">
            <div class="icon">
              <span class="fas fa-user" aria-hidden="true"></span></div>
            Personal info
          </a></li>


        <li><a href="#">
            <div class="icon">
              <span class="fas fa-globe-asia" aria-hidden="true"></span></div>
            Languages
          </a></li>
        <li><a href="#">
            <div class="icon">
              <span class="fas fa-sign-out-alt" aria-hidden="true"></span></div>
            Log out
          </a></li>
      </ul>
      <!-- Help & support Menu-items -->
      <ul class="help-drop">

        <li><a href="#">
            <div class="icon">
              <span class="fas fa-question-circle" aria-hidden="true"></span></div>
            Help centre
          </a></li>
        <li><a href="#">
            <div class="icon">
              <span class="fas fa-envelope" aria-hidden="true"></span></div>
            Support Inbox
          </a></li>

        <li><a href="#">
            <div class="icon">
              <span class="fas fa-exclamation-circle" aria-hidden="true"></span></div>
            Report problem
          </a></li>
      </ul>
    </div>
  </nav>

</body>

</html>